/* La ide de los estilos es ordenarlos según vamos encontrando las etiquetas o
si están 'a la misma altura', las pondremos por orden alfabético. */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
    background-color: #eee;
    color: #333;
    font-family: 'Montserrat';
}

a{
    text-decoration: none;
    color: dodgerblue;
}

a:hover{
    text-decoration: underline;
    color: darkblue;
}
/* La imagen solo se agrandará hasta el 100% del tamaño que le indicamos, nunca más */
img{
    max-width: 100%;
}

/********* Form styles *************/
form {
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
}

form div {
    padding: 15px;
}

/* Con display block todos los elementos input 
toman el ancho máximo del padre (form) 600px */
input {
    display: block;
    width: 70%;
    margin: 0 auto;
}

button {
    width: 70%;
    height: 60px;
    padding: 10px;
    line-height: 30px;
}

/********* Form styles *************/

#navbar {
    background-color: #000;
    /* con absolute el navbar no se moverá de la posición inicial 
    * con fixed el menú de navegación se mantiene en posición aunque hagamos scroll.
    */
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    /* La barra de navegación siempre se mantendrá cobre el resto del contenido. */
    z-index: 100;
    overflow: hidden;
}

/* Cualquier lista dentro del elemento con id navbar */
#navbar ul {
list-style-type: none;
margin: 0;
padding: 0;
}

/* El float left es lo que pone todos list items en línea. */
#navbar li {
    float: left;
}

#navbar li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    font-size: 1em;
    color: aliceblue;
    text-align: center;
}

/* Esta clase la disparamos con jquery */
#navbar li.active a {
    background-color: coral;
    color: black;
}

#navbar li a:hover {
    background-color: coral;
    color: black;
}

.myicon {
    color: aliceblue;
    font-size: 1.5em;
    padding: 10px;
    display: none;
    text-align: right;
}

.small-screen {
    display: block;
}

/* div descendiente directo de wrapper */
.wrapper > div {
    padding: 25px;
}

.wrapper {
    background-color: white;
    padding: 2%;
    max-width: 1080px;
    position: relative;
    top: 60px;
    /* centramos el contenido en el contenedor */
    margin: 0 auto;
}

/* Toma el ancho del contenedor por defecto, no le damos un float ni un ancho */
.wrapper header {
    height: 120px;
    padding: 10px 20px;
    background-color: #ddd;
    border-radius: 1em;
}

/* Tomamos el 35% del espacio del wrapper para cada una de las secciones
y el 30% para el aside */
#main {
    float: left;
    padding: 5px;
    width: 35%;
}

#second {
    float: left;
    padding: 5px;
    width: 35%;
}

.wrapper aside {
    float: right;
    padding: 5px;
    width: 25%;
}

.wrapper footer {
    clear: both;
    border: 1px solid black;
    width: 95%;
    background-color: #ddd;
    text-align: center;
    height: 150px;
    padding: 25px;
}

/* Cuando la pantalla sea menor a 820px de ancho, se aplicarán
los siguientes estilos:  */
@media screen and (max-width: 820px){
    /* copiamos los estilos del wrapper, y cambiamos solo aquellos que no queremos
    en pantalla pequeña, como eliminar el padding */
    .wrapper {
        padding: 0%;
        max-width: 100%;
    }

    .wrapper header {
        padding: 0;
        border-radius: 0;
    }

    #main {
        padding: 5%;
        width: 40%;
    }
    
    #second {
        float: right;
        padding: 5%;
        width: 40%;
    }
    
    .wrapper aside {
        /* Hacemos un clear para que ocupe ahora todo el ancho 
        y establecemos un 90% centrado, ya que las secciones tienen un 5% de padding*/
        clear: both;
        padding: 5%;
        width: 90%;
    }

    .wrapper footer {
        width: 100%;
        padding: 0;
    }
}

/* Cuando la pantalla sea menor a 600px de ancho, se aplicarán
los siguientes estilos:  */
@media screen and (max-width: 600px){
    /* copiamos los estilos del wrapper, y cambiamos solo aquellos que no queremos
    en pantalla pequeña, como eliminar el padding */
    .wrapper {
        max-width: auto;
    }

    .wrapper header {
        height: auto;
        padding: 0px;
    }

    #main {
        width: auto;
        float: none;
        margin: 0px;
    }
    
    #second {
        width: auto;
        float: none;
        margin: 0px;
    }
    
    .wrapper aside {
        width: auto;
    }

    .wrapper footer {
        width: auto;
    }

    .small-screen {
        display: none;
    }

    #navbar li {
        float: none;
        display: block;
    }

    #navbar li a {
        padding: 5px;
        text-align: left;
        width: 100%;
    }

    .myicon {
        display: block;
    }

}